body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.cabecalho {
position: fixed;
width: 100%;
background-color: #484848;
color: #ffffff;
left: 0;
top: 0;
}
